# Data Load

In [1]:
import numpy as np
import pandas as pd
import math

from scipy import stats #Analysis 
from scipy.stats import norm 

import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rcParams
%matplotlib inline

In [2]:
# 한글 폰트가 깨지면 실행하세요! 
import matplotlib.font_manager as fm
fontlist = fm.findSystemFonts(fontpaths = None, fontext='ttf')
# 아래 주석을 지워서 폰트 리스트를 확인하고 한글 폰트를 font_path에 추가합니다
fontlist[:]

from matplotlib import font_manager, rc
font_path = 'C:\\Users\\mtang\\AppData\\Local\\Microsoft\\Windows\\Fonts\\NanumSquare.ttf'
#font_path = 'C:\\WINDOWS\\Fonts\\NanumGothicLight.ttf'
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

In [3]:
# pandas option 설정 하는 코드
# monthly_gain의 경우 부동소수점으로 나타나서 보기 어려울땐 윗 줄의 주석을 제거하고 아래에 주석을 추가하고
# 다시 원래대로 돌리고 싶다면 아래에 주석제거, 위 코드에 주석추가
pd.options.display.float_format = '{:.2f}'.format
#pd.reset_option('display.float_format')

In [4]:
path = "./Dataset/"

data = pd.read_csv(path+"kwproja_data_location.csv")

data

,DATE_,SHOP_CODE,SHOP_NAME,SHOP_TYPE_BIG,SHOP_TYPE_SMALL,LONGITUDE,LATITUDE,MONTHLY_GAIN,AVERAGE_SALE_PRICE,GU,DONG
0,201709,68281950112,대원갈비,뷔페,고기 뷔페,126.93,37.49,88292576.82,43319,관악구,신림동
1,201709,491680110,옛골토성,뷔페,고기 뷔페,126.95,37.66,25218858.16,63645,은평구,진관동
2,201708,4540650109,정든생삼겹살,뷔페,고기 뷔페,126.82,37.57,25957122.44,61605,강서구,방화1동
3,201708,42631710113,손가네생오리부페,뷔페,고기 뷔페,126.86,37.49,17709655.91,36938,구로구,개봉2동
4,201709,70824420108,한방복돼지,뷔페,고기 뷔페,127.13,37.53,24859801.35,58224,강동구,성내3동
...,...,...,...,...,...,...,...,...,...,...,...
2927734,201804,1709900344,신지도수산,수산물,회/수산물 일반,126.94,37.51,12570901.91,73033,동작구,노량진2동
2927735,201803,51063560503,노랑태 황태찜,수산물,회/수산물 일반,126.93,37.62,10489984.69,24402,은평구,불광2동
2927736,201803,5919500296,스마일수산,수산물,회/수산물 일반,126.92,37.48,31807992.77,16458,관악구,신사동
2927737,201805,4459300560,샛강,수산물,회/수산물 일반,126.94,37.51,7725388.62,71400,동작구,노량진2동
2927738,201802,1946700670,연안식당 반포삼호가든점,수산물,회/수산물 일반,127.01,37.50,34458580.35,27032,서초구,반포4동

# 2. EDA 

2,927,739 rows X 11 columns

- 매장 속성 정보
  - shop_code -> 식별자 feature => drop   
  - shop_name => DL
  - longtitude : 경도, latitude : 위도 -> 매장 위치 (회사 근처, 학교 근처 등 매출 영향성 있음) -> K-mean clustering => geo, ML, DL
  - address1, address2 : GeoEncoder를 통해 따로 얻은 행정동, 1(30), 2(436) => DL
  - shop_type_big -> 15 category, shop_type_big_label, ML => DL
  - shop_type_small -> 61 category, shop_type_small_label, ML => DL 

- 매출 정보
  - date -> 24 category, 201606~ 201805 까지의 data
  - monthly_gain / avearge_sale_price = 한달 총 판매수

- 매출 통계 정보-> X

In [5]:
# rename data columns and check the data
data.columns = ['date', 'shop_code', 'shop_name', 'shop_type_big', 'shop_type_small', 
                'longitude', 'latitude', 'monthly_gain', 'average_sale_price', 'address1', 'address2']

print(data.columns, '\n')
print(data.info())

Index(['date', 'shop_code', 'shop_name', 'shop_type_big', 'shop_type_small',
       'longitude', 'latitude', 'monthly_gain', 'average_sale_price',
       'address1', 'address2'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2927739 entries, 0 to 2927738
Data columns (total 11 columns):
 #   Column              Dtype
---  ------              -----
 0   date                int64
 1   shop_code           int64
 2   shop_name           object
 3   shop_type_big       object
 4   shop_type_small     object
 5   longitude           float64
 6   latitude            float64
 7   monthly_gain        float64
 8   average_sale_price  int64
 9   address1            object
 10  address2            object
dtypes: float64(3), int64(3), object(5)
memory usage: 245.7+ MB
None

# 3. Preprocessing 
- df_geo : 구(address1)를 기준으로 통계량을 붙여놓은 데이터프레임 
    - monthly_gain + average_sale_price + shop_type_big 개수 
    - count : 데이터 개수 
    - mg : monthly_gain 약자 
    - sp : average_sale_price 약자 
    - mean, st, ~ max : 평균값, 표준편차, ~ 최대값 
    - shop_type_big(15) : 각 업종대분류에 해당하는 데이터가 해당 지역(구)에는 몇 개가 있는가? 
    - 0, 1, 2 : 각 구마다 1등, 2등, 3등으로 많은 업종 대분류는? 
    - **27 rows × 34 columns**
- df_shop : 업종 대분류(shop_type_big)을 기준으로 통계량을 붙여놓은 데이터프레임 
    - **15 rows × 49 columns**
- 구 -> label encoder => (30개)
    - '강남구' '강동구' '강북구' '강서구' '고양시 덕양구' '과천시' '관악구' '광명시' '광진구' '구로구' '구리시'
      '금천구' '노원구' '도봉구' '동대문구' '동작구' '마포구' '서대문구' '서초구' '성동구' '성북구' '송파구' '양천구'
      '영등포구' '용산구' '은평구' '종로구' '중구' '중랑구' '하남시'

In [6]:
# 원본 data와 따로 관리 -> original data = data, preprocessed data = processed_data 
processed_data = data.copy()
processed_data

,date,shop_code,shop_name,shop_type_big,shop_type_small,longitude,latitude,monthly_gain,average_sale_price,address1,address2
0,201709,68281950112,대원갈비,뷔페,고기 뷔페,126.93,37.49,88292576.82,43319,관악구,신림동
1,201709,491680110,옛골토성,뷔페,고기 뷔페,126.95,37.66,25218858.16,63645,은평구,진관동
2,201708,4540650109,정든생삼겹살,뷔페,고기 뷔페,126.82,37.57,25957122.44,61605,강서구,방화1동
3,201708,42631710113,손가네생오리부페,뷔페,고기 뷔페,126.86,37.49,17709655.91,36938,구로구,개봉2동
4,201709,70824420108,한방복돼지,뷔페,고기 뷔페,127.13,37.53,24859801.35,58224,강동구,성내3동
...,...,...,...,...,...,...,...,...,...,...,...
2927734,201804,1709900344,신지도수산,수산물,회/수산물 일반,126.94,37.51,12570901.91,73033,동작구,노량진2동
2927735,201803,51063560503,노랑태 황태찜,수산물,회/수산물 일반,126.93,37.62,10489984.69,24402,은평구,불광2동
2927736,201803,5919500296,스마일수산,수산물,회/수산물 일반,126.92,37.48,31807992.77,16458,관악구,신사동
2927737,201805,4459300560,샛강,수산물,회/수산물 일반,126.94,37.51,7725388.62,71400,동작구,노량진2동
2927738,201802,1946700670,연안식당 반포삼호가든점,수산물,회/수산물 일반,127.01,37.50,34458580.35,27032,서초구,반포4동

### geo

In [28]:
# monthly_gain 
group1 = processed_data[['monthly_gain', 'address1']].groupby('address1')
df1 = group1.describe().droplevel(axis=1, level=0)

# round
df1.iloc[:, 1:] = df1.iloc[:, 1:].applymap(lambda x : round(x, -4))
df1.columns = ['count', 'mean_mg', 'st_mg', 'min_mg', '25%_mg', '50%_mg', '75%_mg', 'max_mg']

# sum - 총 매출
df1['monthly_gain'] = group1.sum().apply(lambda x : round(x, -4))

df1.head()

,count,mean_mg,st_mg,min_mg,25%_mg,50%_mg,75%_mg,max_mg,monthly_gain
address1,,,,,,,,,
강남구,256562.00,52570000.00,808920000.00,0.00,9140000.00,21480000.00,44510000.00,91386200000.00,13486576890000.00
강동구,112134.00,23380000.00,172690000.00,0.00,3330000.00,8670000.00,20740000.00,10642020000.00,2621232850000.00
강북구,84071.00,18260000.00,122340000.00,0.00,2530000.00,6770000.00,17730000.00,9668020000.00,1534726850000.00
강서구,142272.00,34730000.00,357880000.00,0.00,4600000.00,12250000.00,29090000.00,23156200000.00,4941651280000.00
과천시,61.00,13960000.00,7970000.00,1340000.00,6190000.00,13440000.00,21100000.00,32190000.00,851370000.00

In [29]:
# average_sale_price
df2 = processed_data[['average_sale_price', 'address1']].groupby('address1')
df2 = df2.describe().droplevel(axis=1, level=0)

# round
df2.iloc[:, 1:] = df2.iloc[:, 1:].applymap(lambda x : round(x, -4))
df2.columns = ['count', 'mean_sp', 'st_sp', 'min_sp', '25%_sp', '50%_sp', '75%_sp', 'max_sp']
df2.head()

,count,mean_sp,st_sp,min_sp,25%_sp,50%_sp,75%_sp,max_sp
address1,,,,,,,,
강남구,256562.00,60000.00,320000.00,0.00,10000.00,20000.00,50000.00,50000000.00
강동구,112134.00,30000.00,140000.00,0.00,10000.00,20000.00,40000.00,17000000.00
강북구,84071.00,30000.00,90000.00,0.00,10000.00,20000.00,40000.00,10180000.00
강서구,142272.00,40000.00,120000.00,0.00,10000.00,20000.00,40000.00,7040000.00
과천시,61.00,30000.00,10000.00,10000.00,10000.00,20000.00,40000.00,50000.00

In [30]:
# shop_type_big
df3 = processed_data.groupby(['address1', 'shop_type_big']).size()
df3 = df3.unstack() # unstack : SQL 집계 결과를 가로, 세로 축으로 보기 좋게 나열 
df3 = df3.fillna(0) # NaN to 0
df3.head()

shop_type_big,다방/커피숍/카페,별식/퓨전요리,분식,뷔페,생활서비스,소매,수산물,양식,유흥주점,음식-미분류,일식,제과제빵떡케익,중식,패스트푸드,한식
address1,,,,,,,,,,,,,,,
강남구,32463.00,15488.00,14623.00,1524.00,0.00,29177.00,10846.00,1862.00,18621.00,47551.00,9873.00,7745.00,11426.00,11701.00,43662.00
강동구,10495.00,7458.00,8668.00,1152.00,0.00,15625.00,5414.00,285.00,10000.00,16628.00,2759.00,4141.00,3558.00,4809.00,21142.00
강북구,6917.00,6879.00,5571.00,861.00,0.00,10493.00,4422.00,130.00,8149.00,12582.00,1693.00,2489.00,2391.00,3331.00,18163.00
강서구,13003.00,10642.00,9763.00,1068.00,0.00,19298.00,7605.00,440.00,12928.00,21673.00,3356.00,5665.00,4910.00,6603.00,25318.00
과천시,0.00,24.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,13.00,24.00

In [31]:
# rank for shop_type_big
df4 = df3.apply(lambda s, n: pd.Series(s.nlargest(n).index), axis=1, n=3)
df4.head()

                0       1          2
address1
강남구        음식-미분류      한식  다방/커피숍/카페
강동구            한식  음식-미분류         소매
강북구            한식  음식-미분류         소매
강서구            한식  음식-미분류         소매
과천시       별식/퓨전요리      한식      패스트푸드

In [32]:
df_geo = pd.concat([df1, df2.iloc[:, 1:]], axis=1)
df_geo = pd.concat([df_geo, df3], axis=1)
df_geo = pd.concat([df_geo, df4], axis=1)
df_geo.head()

,count,mean_mg,st_mg,min_mg,25%_mg,50%_mg,75%_mg,max_mg,monthly_gain,mean_sp,...,유흥주점,음식-미분류,일식,제과제빵떡케익,중식,패스트푸드,한식,0,1,2
address1,,,,,,,,,,,,,,,,,,,,,
강남구,256562.00,52570000.00,808920000.00,0.00,9140000.00,21480000.00,44510000.00,91386200000.00,13486576890000.00,60000.00,...,18621.00,47551.00,9873.00,7745.00,11426.00,11701.00,43662.00,음식-미분류,한식,다방/커피숍/카페
강동구,112134.00,23380000.00,172690000.00,0.00,3330000.00,8670000.00,20740000.00,10642020000.00,2621232850000.00,30000.00,...,10000.00,16628.00,2759.00,4141.00,3558.00,4809.00,21142.00,한식,음식-미분류,소매
강북구,84071.00,18260000.00,122340000.00,0.00,2530000.00,6770000.00,17730000.00,9668020000.00,1534726850000.00,30000.00,...,8149.00,12582.00,1693.00,2489.00,2391.00,3331.00,18163.00,한식,음식-미분류,소매
강서구,142272.00,34730000.00,357880000.00,0.00,4600000.00,12250000.00,29090000.00,23156200000.00,4941651280000.00,40000.00,...,12928.00,21673.00,3356.00,5665.00,4910.00,6603.00,25318.00,한식,음식-미분류,소매
과천시,61.00,13960000.00,7970000.00,1340000.00,6190000.00,13440000.00,21100000.00,32190000.00,851370000.00,30000.00,...,0.00,0.00,0.00,0.00,0.00,13.00,24.00,별식/퓨전요리,한식,패스트푸드

In [94]:
df_geo.to_csv('df_geo.csv', float_format = '%.2f', encoding = 'utf-8-sig')

### geo - date

In [33]:
# date 
df5 = processed_data[['date', 'address1', 'monthly_gain']].groupby(['address1', 'date']).mean().round(-4)
df6 = processed_data[['date', 'address1', 'monthly_gain']].groupby(['address1', 'date']).count()

df5 = df5.unstack()
df5 = df5.rename(columns = {'monthly_gain' : 'mean'})
df6 = df6.unstack()
df6 = df6.rename(columns = {'monthly_gain' : 'count'})

df_geo_date = pd.concat([df5, df6], axis=1)
df_geo_date.head()

                mean                                                  \
date          201606      201607      201608      201609      201610
address1
강남구      52340000.00 56110000.00 55070000.00 52060000.00 53380000.00
강동구      23840000.00 24710000.00 24610000.00 24460000.00 23390000.00
강북구      17820000.00 18520000.00 18560000.00 18790000.00 17970000.00
강서구      35080000.00 36480000.00 35610000.00 35400000.00 35420000.00
과천시      14010000.00 16770000.00 13570000.00 11760000.00 16940000.00

                                                                      ...  \
date          201611      201612      201701      201702      201703  ...
address1                                                              ...
강남구      51310000.00 59010000.00 55350000.00 47080000.00 54360000.00  ...
강동구      22560000.00 24850000.00 23760000.00 20950000.00 23870000.00  ...
강북구      17460000.00 19870000.00 18550000.00 16770000.00 18770000.00  ...
강서구      34340000.00 39170000.00 35120000.00 31190000.00 36630000.00  ...
과천시      18090000.00 14190000.00 15780000.00 13670000.00 14210000.00  ...

          count
date     201708 201709 201710 201711 201712 201801 201802 201803 201804 201805
address1
강남구       10799  10764  10767  10778  10742  10616  10619  10512  10470  10548
강동구        4707   4690   4693   4649   4688   4645   4634   4533   4550   4616
강북구        3514   3490   3512   3498   3502   3478   3469   3438   3446   3497
강서구        6014   5997   6017   6013   6009   5944   5917   5832   5841   5892
과천시           2      2      2      2      2      2      2      2      2      2

[5 rows x 48 columns]

In [34]:
df_geo_date.to_csv('df_geo_date.csv', float_format = '%.2f', encoding = 'utf-8-sig')

### shop type big

In [35]:
# monthly_gain 
group1 = processed_data[['monthly_gain', 'shop_type_big']].groupby('shop_type_big')
df1 = group1.describe().droplevel(axis=1, level=0)

df1.iloc[:, 1:] = df1.iloc[:, 1:].applymap(lambda x : round(x, -4))
df1.columns = ['count', 'mean_mg', 'st_mg', 'min_mg', '25%_mg', '50%_mg', '75%_mg', 'max_mg']

# sum - 총 매출
df1['monthly_gain'] = group1.sum().apply(lambda x : round(x, -4))

df1.head()

,count,mean_mg,st_mg,min_mg,25%_mg,50%_mg,75%_mg,max_mg,monthly_gain
shop_type_big,,,,,,,,,
다방/커피숍/카페,318339.00,13630000.00,26300000.00,0.00,3250000.00,7510000.00,15910000.00,2454380000.00,4339878830000.00
별식/퓨전요리,213619.00,19720000.00,28710000.00,0.00,5770000.00,12060000.00,23830000.00,1535740000.00,4212465640000.00
분식,188263.00,15050000.00,19540000.00,0.00,3470000.00,8710000.00,19690000.00,594570000.00,2834027670000.00
뷔페,24891.00,36000000.00,70220000.00,0.00,6550000.00,15850000.00,36200000.00,1246630000.00,896103630000.00
생활서비스,47.00,4970000.00,3440000.00,30000.00,2920000.00,4190000.00,6760000.00,15390000.00,233660000.00

In [36]:
# average_sale_price
df2 = processed_data[['average_sale_price', 'shop_type_big']].groupby('shop_type_big')
df2 = df2.describe().droplevel(axis=1, level=0)

df2.iloc[:, 1:] = df2.iloc[:, 1:].applymap(lambda x : round(x, -4))
df2.columns = ['count', 'mean_sp', 'st_sp', 'min_sp', '25%_sp', '50%_sp', '75%_sp', 'max_sp']
df2.head()

,count,mean_sp,st_sp,min_sp,25%_sp,50%_sp,75%_sp,max_sp
shop_type_big,,,,,,,,
다방/커피숍/카페,318339.00,10000.00,80000.00,0.00,10000.00,10000.00,10000.00,17520000.00
별식/퓨전요리,213619.00,30000.00,120000.00,0.00,20000.00,20000.00,30000.00,14280000.00
분식,188263.00,20000.00,60000.00,0.00,10000.00,10000.00,20000.00,15000000.00
뷔페,24891.00,70000.00,210000.00,0.00,20000.00,40000.00,60000.00,7450000.00
생활서비스,47.00,40000.00,40000.00,10000.00,20000.00,20000.00,60000.00,170000.00

In [37]:
# address1 - geo
df3 = processed_data.groupby(['shop_type_big', 'address1']).size()
df3 = df3.unstack() # unstack : SQL 집계 결과를 가로, 세로 축으로 보기 좋게 나열 
df3 = df3.fillna(0) # NaN to 0
df3.head()

address1,강남구,강동구,강북구,강서구,과천시,관악구,광명시,광진구,구로구,금천구,...,성동구,성북구,송파구,양천구,영등포구,용산구,은평구,종로구,중구,중랑구
shop_type_big,,,,,,,,,,,,,,,,,,,,,
다방/커피숍/카페,32463.00,10495.00,6917.00,13003.00,0.00,11065.00,0.00,10241.00,9044.00,7242.00,...,9320.00,11244.00,19248.00,8896.00,16601.00,12106.00,8714.00,18048.00,14653.00,6768.00
별식/퓨전요리,15488.00,7458.00,6879.00,10642.00,24.00,11099.00,0.00,7125.00,8372.00,5261.00,...,6175.00,8063.00,12996.00,8336.00,10300.00,5814.00,8473.00,6776.00,7214.00,7850.00
분식,14623.00,8668.00,5571.00,9763.00,0.00,7644.00,0.00,6169.00,7725.00,5136.00,...,4689.00,6543.00,12187.00,6991.00,9566.00,5359.00,7133.00,8032.00,7433.00,6096.00
뷔페,1524.00,1152.00,861.00,1068.00,0.00,1604.00,0.00,685.00,1238.00,978.00,...,759.00,855.00,1647.00,766.00,1211.00,629.00,1036.00,939.00,1005.00,1194.00
생활서비스,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,24.00,0.00,...,23.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [38]:
# rank for address1(geo)
df4 = df3.apply(lambda s, n: pd.Series(s.nlargest(n).index), axis=1, n=3)
df4.head()

                 0    1    2
shop_type_big
다방/커피숍/카페      강남구  마포구  서초구
별식/퓨전요리        강남구  송파구  마포구
분식             강남구  송파구  마포구
뷔페             송파구  관악구  강남구
생활서비스          구로구  성동구  강남구

In [39]:
df_type = pd.concat([df1, df2.iloc[:, 1:]], axis=1)
df_type = pd.concat([df_type, df3], axis=1)
df_type = pd.concat([df_type, df4], axis=1)
df_type.head()

,count,mean_mg,st_mg,min_mg,25%_mg,50%_mg,75%_mg,max_mg,monthly_gain,mean_sp,...,양천구,영등포구,용산구,은평구,종로구,중구,중랑구,0,1,2
shop_type_big,,,,,,,,,,,,,,,,,,,,,
다방/커피숍/카페,318339.00,13630000.00,26300000.00,0.00,3250000.00,7510000.00,15910000.00,2454380000.00,4339878830000.00,10000.00,...,8896.00,16601.00,12106.00,8714.00,18048.00,14653.00,6768.00,강남구,마포구,서초구
별식/퓨전요리,213619.00,19720000.00,28710000.00,0.00,5770000.00,12060000.00,23830000.00,1535740000.00,4212465640000.00,30000.00,...,8336.00,10300.00,5814.00,8473.00,6776.00,7214.00,7850.00,강남구,송파구,마포구
분식,188263.00,15050000.00,19540000.00,0.00,3470000.00,8710000.00,19690000.00,594570000.00,2834027670000.00,20000.00,...,6991.00,9566.00,5359.00,7133.00,8032.00,7433.00,6096.00,강남구,송파구,마포구
뷔페,24891.00,36000000.00,70220000.00,0.00,6550000.00,15850000.00,36200000.00,1246630000.00,896103630000.00,70000.00,...,766.00,1211.00,629.00,1036.00,939.00,1005.00,1194.00,송파구,관악구,강남구
생활서비스,47.00,4970000.00,3440000.00,30000.00,2920000.00,4190000.00,6760000.00,15390000.00,233660000.00,40000.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,구로구,성동구,강남구

In [18]:
df_type

,count,mean_mg,st_mg,min_mg,25%_mg,50%_mg,75%_mg,max_mg,monthly_gain,mean_sp,...,양천구,영등포구,용산구,은평구,종로구,중구,중랑구,0,1,2
shop_type_big,,,,,,,,,,,,,,,,,,,,,
다방/커피숍/카페,318339.00,13630000.00,26300000.00,0.00,3250000.00,7510000.00,15910000.00,2454380000.00,4339878830000.00,10000.00,...,8896.00,16601.00,12106.00,8714.00,18048.00,14653.00,6768.00,강남구,마포구,서초구
별식/퓨전요리,213619.00,19720000.00,28710000.00,0.00,5770000.00,12060000.00,23830000.00,1535740000.00,4212465640000.00,30000.00,...,8336.00,10300.00,5814.00,8473.00,6776.00,7214.00,7850.00,강남구,송파구,마포구
분식,188263.00,15050000.00,19540000.00,0.00,3470000.00,8710000.00,19690000.00,594570000.00,2834027670000.00,20000.00,...,6991.00,9566.00,5359.00,7133.00,8032.00,7433.00,6096.00,강남구,송파구,마포구
뷔페,24891.00,36000000.00,70220000.00,0.00,6550000.00,15850000.00,36200000.00,1246630000.00,896103630000.00,70000.00,...,766.00,1211.00,629.00,1036.00,939.00,1005.00,1194.00,송파구,관악구,강남구
생활서비스,47.00,4970000.00,3440000.00,30000.00,2920000.00,4190000.00,6760000.00,15390000.00,233660000.00,40000.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,구로구,성동구,강남구
소매,359034.00,116400000.00,1569080000.00,0.00,7380000.00,27180000.00,47730000.00,181237340000.00,41790631240000.00,40000.00,...,13464.00,16985.00,9487.00,13462.00,7117.00,14789.00,12161.00,강남구,송파구,강서구
수산물,131323.00,28340000.00,33010000.00,0.00,8460000.00,18100000.00,36320000.00,703400000.00,3721432720000.00,60000.00,...,3756.00,8149.00,3330.00,4618.00,4958.00,5433.00,5283.00,강남구,영등포구,송파구
양식,13726.00,25500000.00,38190000.00,10000.00,6090000.00,13860000.00,28730000.00,550880000.00,349946020000.00,50000.00,...,432.00,655.00,807.00,308.00,989.00,459.00,293.00,강남구,마포구,서초구
유흥주점,254766.00,15800000.00,22750000.00,0.00,3690000.00,9030000.00,19230000.00,1289820000.00,4026153940000.00,50000.00,...,7714.00,12527.00,9559.00,8768.00,9901.00,8426.00,9978.00,마포구,강남구,송파구
음식-미분류,455192.00,20420000.00,78470000.00,0.00,2240000.00,6400000.00,17320000.00,11699140000.00,9293903590000.00,60000.00,...,12359.00,25201.00,16093.00,15317.00,17732.00,18968.00,13227.00,강남구,마포구,송파구
일식,83488.00,25320000.00,31280000.00,0.00,8030000.00,16010000.00,30870000.00,714970000.00,2114136370000.00,30000.00,...,2075.00,3938.00,3586.00,2596.00,3996.00,3620.00,1563.00,강남구,마포구,송파구
제과제빵떡케익,98201.00,21040000.00,30650000.00,0.00,3180000.00,9810000.00,29230000.00,607810000.00,2066539800000.00,30000.00,...,4007.00,4731.00,2703.00,3694.00,2682.00,2743.00,3005.00,강남구,마포구,송파구
중식,112420.00,29660000.00,39580000.00,0.00,7360000.00,17870000.00,36180000.00,838350000.00,3334017750000.00,40000.00,...,2896.00,10114.00,3165.00,3428.00,4563.00,5252.00,2662.00,강남구,영등포구,마포구
패스트푸드,130544.00,25150000.00,60060000.00,0.00,5230000.00,12560000.00,27440000.00,4502280000.00,3283491370000.00,30000.00,...,4311.00,5487.00,4695.00,4698.00,3909.00,5181.00,3535.00,강남구,송파구,마포구
한식,543886.00,25170000.00,38540000.00,0.00,5730000.00,14120000.00,30390000.00,1338750000.00,13690158150000.00,40000.00,...,15548.00,30164.00,15610.00,17511.00,24409.00,26453.00,22048.00,강남구,송파구,영등포구

### Total

In [19]:
df_total = processed_data[['monthly_gain', 'average_sale_price']].describe().transpose()

# round - except for min, count 
df_total.iloc[:, 1:3] = df_total.iloc[:, 1:3].applymap(lambda x : round(x,  -4))
df_total.iloc[:, 4:] = df_total.iloc[:, 4:].applymap(lambda x : round(x,  -4))

df_total

,count,mean,std,min,25%,50%,75%,max
monthly_gain,2927739.00,32770000.00,552030000.00,5.06,4310000.00,11580000.00,27580000.00,181237340000.00
average_sale_price,2927739.00,40000.00,180000.00,1.00,10000.00,20000.00,40000.00,165260000.00

In [20]:
sum_mg = processed_data['monthly_gain'].sum().round(-4)
sum_sp = processed_data['average_sale_price'].sum().round(-4)

df_total["sum"] = [sum_mg, sum_sp]

df_total

,count,mean,std,min,25%,50%,75%,max,sum
monthly_gain,2927739.00,32770000.00,552030000.00,5.06,4310000.00,11580000.00,27580000.00,181237340000.00,95953120370000.00
average_sale_price,2927739.00,40000.00,180000.00,1.00,10000.00,20000.00,40000.00,165260000.00,111459210000.00

In [21]:
df_total.to_csv('df_total.csv', float_format = '%.2f', encoding = 'utf-8-sig')

### shop_name + shop_type_big + shop_type_small : df_nlp

In [7]:
# NLP용 preprocessing 
# shop_name, shop_type_big, shop_type_small = concat_text 
df_nlp1 = processed_data.copy()
df_nlp1['concat_text'] = df_nlp1['shop_name'] + ' ' + df_nlp1['shop_type_big'] + ' ' + df_nlp1['shop_type_small'] + ' '
df_nlp1.head()

,date,shop_code,shop_name,shop_type_big,shop_type_small,longitude,latitude,monthly_gain,average_sale_price,address1,address2,concat_text
0,201709,68281950112,대원갈비,뷔페,고기 뷔페,126.93,37.49,88292576.82,43319,관악구,신림동,대원갈비 뷔페 고기 뷔페
1,201709,491680110,옛골토성,뷔페,고기 뷔페,126.95,37.66,25218858.16,63645,은평구,진관동,옛골토성 뷔페 고기 뷔페
2,201708,4540650109,정든생삼겹살,뷔페,고기 뷔페,126.82,37.57,25957122.44,61605,강서구,방화1동,정든생삼겹살 뷔페 고기 뷔페
3,201708,42631710113,손가네생오리부페,뷔페,고기 뷔페,126.86,37.49,17709655.91,36938,구로구,개봉2동,손가네생오리부페 뷔페 고기 뷔페
4,201709,70824420108,한방복돼지,뷔페,고기 뷔페,127.13,37.53,24859801.35,58224,강동구,성내3동,한방복돼지 뷔페 고기 뷔페

In [8]:
df_nlp2 = df_nlp1[['concat_text', 'address1']]
df_nlp2.head()

          concat_text address1
0      대원갈비 뷔페 고기 뷔페       관악구
1      옛골토성 뷔페 고기 뷔페       은평구
2    정든생삼겹살 뷔페 고기 뷔페       강서구
3  손가네생오리부페 뷔페 고기 뷔페       구로구
4     한방복돼지 뷔페 고기 뷔페       강동구

In [9]:
from keras.preprocessing.text import Tokenizer

df_nlp = pd.DataFrame()
alist = df_nlp2['address1'].unique()
for add in alist : 
    tk = Tokenizer()
    tk.fit_on_texts(df_nlp2[df_nlp2['address1'] == add]['concat_text'])
    
    wordlist = sorted(tk.word_counts.items(), key=lambda x: x[1], reverse=True)[:30]
    df_word = pd.DataFrame(wordlist)
    df_nlp = pd.concat([df_nlp, df_word], axis=1)
    
    print(add, ": ", list(wordlist))
    print("\nvocab words 개수 : ", len(tk.word_index.items()))

관악구 :  [('전문점', 57749), ('미분류', 36817), ('음식', 36642), ('한식', 22065), ('카페', 20593), ('소매', 14644), ('분식', 12041), ('별식', 11988), ('퓨전요리', 11988), ('유흥주점', 11914), ('다방', 10863), ('커피숍', 10863), ('디저트', 9524), ('수산물', 9517), ('편의점', 7402), ('치킨', 7160), ('닭강정', 7040), ('일반', 6999), ('패스트푸드', 6559), ('고기구이', 6372), ('육회', 6348), ('식료품', 5038), ('중식', 5000), ('호프', 4992), ('맥주', 4840), ('백반', 4557), ('한정식', 4536), ('오리', 4192), ('닭요리', 4168), ('포장마차', 3868)]

vocab words 개수 :  6382
은평구 :  [('전문점', 44039), ('미분류', 30312), ('음식', 30204), ('한식', 17738), ('카페', 17604), ('소매', 13637), ('분식', 11559), ('유흥주점', 9451), ('커피숍', 8863), ('다방', 8794), ('디저트', 8294), ('수산물', 7773), ('별식', 7120), ('퓨전요리', 7120), ('편의점', 6170), ('일반', 5664), ('고기구이', 5006), ('육회', 5006), ('식료품', 4512), ('닭강정', 4239), ('치킨', 4218), ('호프', 4083), ('패스트푸드', 4062), ('맥주', 3981), ('백반', 3641), ('한정식', 3617), ('오리', 3485), ('닭요리', 3485), ('제과제빵떡케익', 3391), ('중식', 3335)]

vocab words 개수 :  5401
강서구 :  [('전문점', 65346), ('미분류', 45495), ('음식', 45112), ('한식', 26397), ('카페', 24955), ('소매', 19512), ('분식', 15237), ('유흥주점', 12972), ('다방', 12411), ('커피숍', 12411), ('디저트', 11940), ('수산물', 11827), ('편의점', 9266), ('별식', 8945), ('퓨전요리', 8945), ('일반', 8198), ('고기구이', 7605), ('육회', 7605), ('패스트푸드', 6922), ('식료품', 6448), ('한식국물요리', 6307), ('제과제빵떡케익', 6272), ('맥주', 5879), ('호프', 5877), ('닭강정', 5333), ('치킨', 5325), ('중식', 4909), ('회', 4190), ('한정식', 4152), ('백반', 4152)]

vocab words 개수 :  7395
구로구 :  [('전문점', 48644), ('미분류', 34625), ('음식', 34552), ('한식', 19828), ('카페', 18281), ('소매', 14255), ('분식', 11939), ('유흥주점', 10135), ('다방', 9152), ('커피숍', 9130), ('디저트', 8603), ('별식', 7426), ('퓨전요리', 7426), ('수산물', 6762), ('호프', 6457), ('맥주', 6327), ('일반', 6303), ('편의점', 6248), ('고기구이', 6002), ('육회', 6002), ('중식', 5892), ('식료품', 5374), ('패스트푸드', 4457), ('한식국물요리', 4139), ('닭강정', 4016), ('치킨', 3988), ('제과제빵떡케익', 3870), ('중식당', 3676), ('한정식', 3197), ('백반', 3197)]

vocab words 개수 :  5636
강동구 :  [('전문점', 48571), ('미분류', 34346), ('음식', 34158), ('카페', 20257), ('한식', 20197), ('소매', 15317), ('분식', 15118), ('커피숍', 10280), ('다방', 10262), ('디저트', 9537), ('유흥주점', 9016), ('수산물', 8928), ('편의점', 6882), ('별식', 6878), ('퓨전요리', 6878), ('일반', 6378), ('식료품', 5928), ('고기구이', 5120), ('육회', 5120), ('호프', 4399), ('맥주', 4330), ('패스트푸드', 4243), ('치킨', 4078), ('닭강정', 4034), ('제과제빵떡케익', 3648), ('한정식', 3551), ('백반', 3549), ('한식국물요리', 3542), ('회', 3524), ('중식', 3265)]

vocab words 개수 :  5936
중구 :  [('전문점', 54251), ('음식', 38128), ('미분류', 38128), ('카페', 27917), ('한식', 25141), ('소매', 15472), ('다방', 14271), ('커피숍', 14271), ('디저트', 12685), ('분식', 11986), ('유흥주점', 8697), ('수산물', 8125), ('별식', 7649), ('퓨전요리', 7649), ('일반', 7576), ('편의점', 7521), ('주', 6999), ('고기구이', 6317), ('육회', 6317), ('식료품', 6187), ('중식', 5518), ('한정식', 5343), ('백반', 5343), ('패스트푸드', 5094), ('한식국물요리', 4986), ('오리', 4666), ('닭요리', 4666), ('중식당', 4419), ('호프', 3708), ('맥주', 3633)]

vocab words 개수 :  6438
종로구 :  [('전문점', 54212), ('미분류', 36841), ('음식', 36700), ('카페', 34158), ('한식', 22886), ('커피숍', 18565), ('다방', 18532), ('분식', 15640), ('디저트', 14623), ('유흥주점', 10035), ('별식', 8306), ('퓨전요리', 8306), ('수산물', 7438), ('소매', 7191), ('백반', 6607), ('한정식', 6583), ('일반', 6192), ('육회', 5867), ('고기구이', 5799), ('치킨', 4867), ('닭강정', 4764), ('중식', 4614), ('한식국물요리', 4094), ('패스트푸드', 3950), ('일식', 3776), ('호프', 3755), ('편의점', 3742), ('맥주', 3702), ('중식당', 3566), ('주', 3503)]

vocab words 개수 :  6160
송파구 :  [('전문점', 82949), ('미분류', 51230), ('음식', 50914), ('카페', 39582), ('한식', 30504), ('소매', 25323), ('분식', 21580), ('커피숍', 19546), ('다방', 19542), ('디저트', 18578), ('별식', 14962), ('퓨전요리', 14962), ('유흥주점', 13779), ('수산물', 11224), ('편의점', 10652), ('식료품', 10229), ('치킨', 10036), ('닭강정', 9750), ('패스트푸드', 9572), ('고기구이', 8709), ('육회', 8709), ('일반', 8546), ('주', 7096), ('백반', 5963), ('호프', 5944), ('한정식', 5944), ('맥주', 5799), ('중식', 5775), ('제과제빵떡케익', 5753), ('한식국물요리', 5588)]

vocab words 개수 :  9606
서초구 :  [('전문점', 63983), ('미분류', 48329), ('음식', 48210), ('카페', 38979), ('한식', 26581), ('커피숍', 19588), ('다방', 19568), ('디저트', 18361), ('소매', 17940), ('분식', 15508), ('수산물', 11594), ('유흥주점', 10834), ('편의점', 9189), ('주', 8692), ('일반', 8533), ('고기구이', 8311), ('육회', 8311), ('별식', 8207), ('퓨전요리', 8207), ('한정식', 6499), ('백반', 6475), ('패스트푸드', 6435), ('식료품', 5722), ('한식국물요리', 5618), ('중식', 5052), ('제과제빵떡케익', 4824), ('치킨', 4601), ('일식', 4538), ('닭강정', 4452), ('회', 4286)]

vocab words 개수 :  8134
성북구 :  [('전문점', 48250), ('미분류', 26946), ('음식', 26724), ('카페', 22382), ('한식', 19087), ('소매', 11567), ('다방', 11538), ('커피숍', 11538), ('디저트', 10614), ('분식', 10454), ('별식', 8070), ('퓨전요리', 8070), ('유흥주점', 7103), ('수산물', 6793), ('백반', 5750), ('한정식', 5702), ('편의점', 5624), ('일반', 5208), ('치킨', 5028), ('닭강정', 4947), ('패스트푸드', 4834), ('고기구이', 4621), ('육회', 4621), ('제과제빵떡케익', 4263), ('식료품', 3706), ('중식', 3478), ('오리', 3335), ('닭요리', 3335), ('일식', 3086), ('한식국물요리', 2891)]

vocab words 개수 :  5096
용산구 :  [('전문점', 39366), ('미분류', 31142), ('음식', 31002), ('카페', 23036), ('한식', 16016), ('다방', 11653), ('커피숍', 11653), ('디저트', 11069), ('분식', 9631), ('소매', 9216), ('유흥주점', 9107), ('별식', 5866), ('퓨전요리', 5866), ('수산물', 5864), ('고기구이', 5416), ('육회', 5416), ('일반', 4731), ('편의점', 4699), ('주', 4627), ('패스트푸드', 4420), ('일식', 3641), ('식료품', 3123), ('한식국물요리', 3068), ('백반', 3045), ('한정식', 3044), ('중식', 2985), ('호프', 2925), ('맥주', 2925), ('치킨', 2628), ('닭강정', 2575)]

vocab words 개수 :  5294
금천구 :  [('전문점', 39492), ('미분류', 23656), ('음식', 23552), ('한식', 20160), ('카페', 14858), ('소매', 12849), ('유흥주점', 7588), ('다방', 7417), ('커피숍', 7417), ('수산물', 7019), ('디저트', 6971), ('분식', 6968), ('한정식', 6553), ('백반', 6553), ('별식', 5490), ('퓨전요리', 5490), ('일반', 5449), ('편의점', 5317), ('식료품', 5161), ('고기구이', 4779), ('육회', 4779), ('호프', 4688), ('맥주', 4631), ('중식', 3626), ('한식국물요리', 3626), ('패스트푸드', 3198), ('전주식당', 2945), ('치킨', 2938), ('회', 2935), ('닭강정', 2923)]

vocab words 개수 :  4475
강북구 :  [('전문점', 41130), ('미분류', 25236), ('음식', 25138), ('한식', 17879), ('카페', 16351), ('소매', 10727), ('분식', 9847), ('다방', 8341), ('커피숍', 8341), ('별식', 7968), ('퓨전요리', 7968), ('유흥주점', 7894), ('디저트', 7675), ('수산물', 6669), ('치킨', 6145), ('닭강정', 5887), ('고기구이', 4520), ('육회', 4520), ('편의점', 4401), ('일반', 4133), ('식료품', 4091), ('호프', 3619), ('맥주', 3409), ('백반', 3234), ('한정식', 3194), ('패스트푸드', 3191), ('오리', 3160), ('닭요리', 3113), ('한식국물요리', 2920), ('제과제빵떡케익', 2659)]

vocab words 개수 :  4643
동대문구 :  [('전문점', 47923), ('미분류', 30196), ('음식', 30130), ('한식', 21699), ('카페', 16675), ('소매', 15172), ('분식', 9838), ('커피숍', 8606), ('다방', 8581), ('별식', 8092), ('퓨전요리', 8092), ('디저트', 7897), ('유흥주점', 7771), ('수산물', 7242), ('편의점', 6459), ('식료품', 6049), ('고기구이', 5793), ('육회', 5793), ('일반', 5719), ('한정식', 5452), ('백반', 5452), ('치킨', 4882), ('닭강정', 4811), ('패스트푸드', 4010), ('한식국물요리', 3897), ('중식', 3703), ('오리', 3447), ('닭요리', 3375), ('호프', 3091), ('중식당', 3089)]

vocab words 개수 :  5419
광진구 :  [('전문점', 52917), ('미분류', 29605), ('음식', 29316), ('분식', 23062), ('한식', 19375), ('카페', 19247), ('유흥주점', 10121), ('다방', 9803), ('커피숍', 9803), ('소매', 9255), ('디저트', 9249), ('수산물', 7467), ('별식', 7000), ('퓨전요리', 7000), ('김밥천국', 6029), ('고기구이', 6025), ('육회', 6025), ('편의점', 4971), ('일반', 4830), ('호프', 4823), ('맥주', 4769), ('패스트푸드', 4621), ('치킨', 3930), ('닭강정', 3860), ('중식', 3626), ('한정식', 3014), ('백반', 3014), ('제과제빵떡케익', 2966), ('한식국물요리', 2948), ('식료품', 2861)]

vocab words 개수 :  5109
성동구 :  [('전문점', 37924), ('미분류', 24471), ('음식', 24340), ('한식', 18073), ('카페', 17906), ('소매', 12171), ('다방', 9033), ('커피숍', 9033), ('디저트', 8562), ('분식', 8053), ('유흥주점', 5945), ('편의점', 5618), ('별식', 5344), ('퓨전요리', 5344), ('수산물', 5328), ('식료품', 5075), ('고기구이', 4913), ('육회', 4913), ('일반', 4674), ('패스트푸드', 3683), ('한정식', 3654), ('백반', 3654), ('한식국물요리', 3041), ('치킨', 2984), ('닭강정', 2979), ('중식', 2855), ('호프', 2687), ('맥주', 2663), ('주', 2616), ('중식당', 2488)]

vocab words 개수 :  4781
마포구 :  [('전문점', 71771), ('미분류', 67096), ('음식', 66798), ('카페', 52328), ('한식', 26992), ('다방', 26413), ('커피숍', 26411), ('디저트', 25310), ('유흥주점', 23410), ('소매', 16589), ('분식', 15616), ('별식', 11264), ('퓨전요리', 11264), ('수산물', 9729), ('편의점', 9595), ('일반', 8778), ('육회', 8774), ('고기구이', 8739), ('일식', 8006), ('주', 7791), ('패스트푸드', 7141), ('호프', 6481), ('맥주', 6434), ('제과제빵떡케익', 6320), ('중식', 6195), ('한정식', 6015), ('백반', 6003), ('이자까야', 5877), ('꼬치구이', 5877), ('제과', 5233)]

vocab words 개수 :  10985

서대문구 :  [('전문점', 43068), ('미분류', 30559), ('음식', 30480), ('카페', 21680), ('한식', 15417), ('다방', 10929), ('커피숍', 10891), ('소매', 10422), ('디저트', 10170), ('별식', 9654), ('퓨전요리', 9654), ('유흥주점', 9104), ('분식', 8303), ('치킨', 6162), ('닭강정', 6100), ('편의점', 5310), ('패스트푸드', 5173), ('수산물', 4895), ('고기구이', 4348), ('육회', 4348), ('일반', 4234), ('호프', 3839), ('한정식', 3821), ('백반', 3821), ('맥주', 3742), ('식료품', 3394), ('중식', 3232), ('주', 3230), ('오리', 3092), ('닭요리', 3092)]

vocab words 개수 :  5289
양천구 :  [('전문점', 45026), ('미분류', 24688), ('음식', 24548), ('카페', 16790), ('한식', 14275), ('소매', 13029), ('분식', 12406), ('다방', 8630), ('커피숍', 8606), ('별식', 8570), ('퓨전요리', 8570), ('디저트', 8096), ('유흥주점', 7350), ('수산물', 6449), ('패스트푸드', 6056), ('제과제빵떡케익', 5919), ('편의점', 5608), ('일반', 5516), ('식료품', 4733), ('닭강정', 4643), ('제과', 4628), ('제빵', 4628), ('치킨', 4595), ('고기구이', 3947), ('육회', 3947), ('닭요리', 3879), ('오리', 3859), ('호프', 3527), ('맥주', 3425), ('중식', 3110)]

vocab words 개수 :  4731
노원구 :  [('전문점', 46216), ('미분류', 27209), ('음식', 26890), ('카페', 18345), ('한식', 16604), ('소매', 15106), ('분식', 11654), ('다방', 9593), ('커피숍', 9593), ('별식', 8731), ('퓨전요리', 8731), ('디저트', 8545), ('유흥주점', 7384), ('수산물', 6645), ('치킨', 6087), ('편의점', 5893), ('닭강정', 5856), ('일반', 5589), ('식료품', 5385), ('제과제빵떡케익', 4958), ('패스트푸드', 4826), ('육회', 4819), ('고기구이', 4814), ('호프', 3828), ('맥주', 3788), ('중식', 3180), ('슈퍼', 3112), ('잡화', 3112), ('할인매장', 3112), ('한과', 3011)]

vocab words 개수 :  4977
중랑구 :  [('전문점', 47428), ('미분류', 27397), ('음식', 27012), ('한식', 22298), ('분식', 14184), ('카페', 13441), ('소매', 11707), ('유흥주점', 9420), ('수산물', 8631), ('다방', 6800), ('커피숍', 6800), ('별식', 6464), ('퓨전요리', 6464), ('디저트', 6362), ('한식국물요리', 5596), ('육회', 5594), ('고기구이', 5581), ('일반', 5296), ('호프', 4796), ('편의점', 4778), ('식료품', 4693), ('맥주', 4623), ('치킨', 4064), ('닭강정', 3963), ('한정식', 3877), ('백반', 3877), ('닭요리', 3684), ('오리', 3660), ('회', 3210), ('제과제빵떡케익', 3055)]

vocab words 개수 :  4785
영등포구 :  [('전문점', 74599), ('미분류', 51131), ('음식', 50816), ('카페', 36757), ('한식', 32458), ('다방', 18913), ('커피숍', 18913), ('디저트', 17430), ('소매', 16985), ('분식', 16279), ('수산물', 13293), ('유흥주점', 12272), ('일반', 12128), ('중식', 11129), ('별식', 10121), ('퓨전요리', 10121), ('고기구이', 8974), ('육회', 8974), ('편의점', 8611), ('중식당', 6919), ('주', 6841), ('한정식', 6588), ('백반', 6588), ('한식국물요리', 6371), ('호프', 6085), ('맥주', 5980), ('패스트푸드', 5705), ('식료품', 5501), ('치킨', 5235), ('회', 5113)]

vocab words 개수 :  7991
동작구 :  [('전문점', 43203), ('미분류', 24939), ('음식', 24898), ('카페', 19255), ('한식', 15871), ('소매', 11428), ('분식', 10519), ('다방', 9918), ('커피숍', 9905), ('별식', 9661), ('퓨전요리', 9661), ('디저트', 9215), ('수산물', 8870), ('유흥주점', 8558), ('일반', 6633), ('치킨', 6385), ('닭강정', 6269), ('편의점', 5467), ('패스트푸드', 4566), ('고기구이', 4169), ('육회', 4169), ('식료품', 3874), ('한식국물요리', 3791), ('회', 3765), ('호프', 3605), ('맥주', 3536), ('중식', 3484), ('제과제빵떡케익', 2948), ('중식당', 2854), ('포장마차', 2751)]

vocab words 개수 :  4713
강남구 :  [('전문점', 106880), ('미분류', 94828), ('음식', 94658), ('카페', 63385), ('한식', 42806), ('다방', 31737), ('커피숍', 31737), ('디저트', 30002), ('소매', 29621), ('분식', 22244), ('유흥주점', 18712), ('주', 17411), ('편의점', 17167), ('수산물', 16974), ('일반', 15861), ('퓨전요리', 14342), ('별식', 14336), ('고기구이', 13164), ('육회', 13164), ('패스트푸드', 12280), ('중식', 11935), ('일식', 9920), ('중식당', 9577), ('한정식', 9060), ('백반', 9056), ('한식국물요리', 8554), ('주식회사', 7799), ('제과제빵떡케익', 7580), ('식료품', 7425), ('치킨', 6297)]

vocab words 개수 :  13736
도봉구 :  [('전문점', 32800), ('미분류', 19580), ('음식', 19468), ('한식', 13763), ('카페', 11084), ('소매', 9899), ('분식', 8946), ('유흥주점', 6194), ('커피숍', 5776), ('다방', 5756), ('별식', 5483), ('퓨전요리', 5483), ('수산물', 5228), ('디저트', 5173), ('편의점', 4010), ('일반', 3856), ('치킨', 3792), ('식료품', 3707), ('닭강정', 3642), ('고기구이', 3570), ('육회', 3570), ('호프', 3178), ('맥주', 3111), ('제과제빵떡케익', 2775), ('패스트푸드', 2538), ('한식국물요리', 2449), ('보쌈', 2181), ('족발', 2146), ('중식', 2100), ('한정식', 1941)]

vocab words 개수 :  3450
과천시 :  [('전문점', 37), ('bbq', 24), ('치킨앤비어', 24), ('별식', 24), ('퓨전요리', 24), ('치킨', 24), ('닭강정', 24), ('정성한끼', 13), ('패스트푸드', 13), ('도시락', 13), ('컵밥', 13), ('주먹밥', 13), ('배달음식', 13)]

vocab words 개수 :  13
광명시 :  [('음식', 18), ('미분류', 18), ('먹빵', 9)]

vocab words 개수 :  3

In [55]:
cols_list = list(df_nlp.columns)
cnt = 0
for i in range (len(cols_list)) :
    if i%2 == 0 : 
        cols_list[i] = alist[cnt]
        cnt = cnt + 1 
    else : 
        cols_list[i] = str(alist[cnt-1]) + " counts"
df_nlp.columns = cols_list
df_nlp.columns

Index(['관악구', '관악구 counts', '은평구', '은평구 counts', '강서구', '강서구 counts', '구로구',
       '구로구 counts', '강동구', '강동구 counts', '중구', '중구 counts', '종로구',
       '종로구 counts', '송파구', '송파구 counts', '서초구', '서초구 counts', '성북구',
       '성북구 counts', '용산구', '용산구 counts', '금천구', '금천구 counts', '강북구',
       '강북구 counts', '동대문구', '동대문구 counts', '광진구', '광진구 counts', '성동구',
       '성동구 counts', '마포구', '마포구 counts', '서대문구', '서대문구 counts', '양천구',
       '양천구 counts', '노원구', '노원구 counts', '중랑구', '중랑구 counts', '영등포구',
       '영등포구 counts', '동작구', '동작구 counts', '강남구', '강남구 counts', '도봉구',
       '도봉구 counts', '과천시', '과천시 counts', '광명시', '광명시 counts'],
      dtype='object')

In [56]:
df_nlp

,관악구,관악구 counts,은평구,은평구 counts,강서구,강서구 counts,구로구,구로구 counts,강동구,강동구 counts,...,동작구,동작구 counts,강남구,강남구 counts,도봉구,도봉구 counts,과천시,과천시 counts,광명시,광명시 counts
0,전문점,57749,전문점,44039,전문점,65346,전문점,48644,전문점,48571,...,전문점,43203,전문점,106880,전문점,32800,전문점,37.00,음식,18.00
1,미분류,36817,미분류,30312,미분류,45495,미분류,34625,미분류,34346,...,미분류,24939,미분류,94828,미분류,19580,bbq,24.00,미분류,18.00
2,음식,36642,음식,30204,음식,45112,음식,34552,음식,34158,...,음식,24898,음식,94658,음식,19468,치킨앤비어,24.00,먹빵,9.00
3,한식,22065,한식,17738,한식,26397,한식,19828,카페,20257,...,카페,19255,카페,63385,한식,13763,별식,24.00,NaN,NaN
4,카페,20593,카페,17604,카페,24955,카페,18281,한식,20197,...,한식,15871,한식,42806,카페,11084,퓨전요리,24.00,NaN,NaN
5,소매,14644,소매,13637,소매,19512,소매,14255,소매,15317,...,소매,11428,다방,31737,소매,9899,치킨,24.00,NaN,NaN
6,분식,12041,분식,11559,분식,15237,분식,11939,분식,15118,...,분식,10519,커피숍,31737,분식,8946,닭강정,24.00,NaN,NaN
7,별식,11988,유흥주점,9451,유흥주점,12972,유흥주점,10135,커피숍,10280,...,다방,9918,디저트,30002,유흥주점,6194,정성한끼,13.00,NaN,NaN
8,퓨전요리,11988,커피숍,8863,다방,12411,다방,9152,다방,10262,...,커피숍,9905,소매,29621,커피숍,5776,패스트푸드,13.00,NaN,NaN
9,유흥주점,11914,다방,8794,커피숍,12411,커피숍,9130,디저트,9537,...,별식,9661,분식,22244,다방,5756,도시락,13.00,NaN,NaN
10,다방,10863,디저트,8294,디저트,11940,디저트,8603,유흥주점,9016,...,퓨전요리,9661,유흥주점,18712,별식,5483,컵밥,13.00,NaN,NaN
11,커피숍,10863,수산물,7773,수산물,11827,별식,7426,수산물,8928,...,디저트,9215,주,17411,퓨전요리,5483,주먹밥,13.00,NaN,NaN
12,디저트,9524,별식,7120,편의점,9266,퓨전요리,7426,편의점,6882,...,수산물,8870,편의점,17167,수산물,5228,배달음식,13.00,NaN,NaN
13,수산물,9517,퓨전요리,7120,별식,8945,수산물,6762,별식,6878,...,유흥주점,8558,수산물,16974,디저트,5173,NaN,NaN,NaN,NaN
14,편의점,7402,편의점,6170,퓨전요리,8945,호프,6457,퓨전요리,6878,...,일반,6633,일반,15861,편의점,4010,NaN,NaN,NaN,NaN
15,치킨,7160,일반,5664,일반,8198,맥주,6327,일반,6378,...,치킨,6385,퓨전요리,14342,일반,3856,NaN,NaN,NaN,NaN
16,닭강정,7040,고기구이,5006,고기구이,7605,일반,6303,식료품,5928,...,닭강정,6269,별식,14336,치킨,3792,NaN,NaN,NaN,NaN
17,일반,6999,육회,5006,육회,7605,편의점,6248,고기구이,5120,...,편의점,5467,고기구이,13164,식료품,3707,NaN,NaN,NaN,NaN
18,패스트푸드,6559,식료품,4512,패스트푸드,6922,고기구이,6002,육회,5120,...,패스트푸드,4566,육회,13164,닭강정,3642,NaN,NaN,NaN,NaN
19,고기구이,6372,닭강정,4239,식료품,6448,육회,6002,호프,4399,...,고기구이,4169,패스트푸드,12280,고기구이,3570,NaN,NaN,NaN,NaN
20,육회,6348,치킨,4218,한식국물요리,6307,중식,5892,맥주,4330,...,육회,4169,중식,11935,육회,3570,NaN,NaN,NaN,NaN
21,식료품,5038,호프,4083,제과제빵떡케익,6272,식료품,5374,패스트푸드,4243,...,식료품,3874,일식,9920,호프,3178,NaN,NaN,NaN,NaN
22,중식,5000,패스트푸드,4062,맥주,5879,패스트푸드,4457,치킨,4078,...,한식국물요리,3791,중식당,9577,맥주,3111,NaN,NaN,NaN,NaN
23,호프,4992,맥주,3981,호프,5877,한식국물요리,4139,닭강정,4034,...,회,3765,한정식,9060,제과제빵떡케익,2775,NaN,NaN,NaN,NaN
24,맥주,4840,백반,3641,닭강정,5333,닭강정,4016,제과제빵떡케익,3648,...,호프,3605,백반,9056,패스트푸드,2538,NaN,NaN,NaN,NaN
25,백반,4557,한정식,3617,치킨,5325,치킨,3988,한정식,3551,...,맥주,3536,한식국물요리,8554,한식국물요리,2449,NaN,NaN,NaN,NaN
26,한정식,4536,오리,3485,중식,4909,제과제빵떡케익,3870,백반,3549,...,중식,3484,주식회사,7799,보쌈,2181,NaN,NaN,NaN,NaN
27,오리,4192,닭요리,3485,회,4190,중식당,3676,한식국물요리,3542,...,제과제빵떡케익,2948,제과제빵떡케익,7580,족발,2146,NaN,NaN,NaN,NaN
28,닭요리,4168,제과제빵떡케익,3391,한정식,4152,한정식,3197,회,3524,...,중식당,2854,식료품,7425,중식,2100,NaN,NaN,NaN,NaN
29,포장마차,3868,중식,3335,백반,4152,백반,3197,중식,3265,...,포장마차,2751,치킨,6297,한정식,1941,NaN,NaN,NaN,NaN

In [57]:
df_nlp.to_csv('df_nlp.csv',encoding = 'utf-8-sig')

### shop_name

In [58]:
# NLP용 preprocessing 
# shop_name, shop_type_big, shop_type_small = concat_text 
df_nlp1 = processed_data.copy()
df_nlp1.head()

,date,shop_code,shop_name,shop_type_big,shop_type_small,longitude,latitude,monthly_gain,average_sale_price,address1,address2
0,201709,68281950112,대원갈비,뷔페,고기 뷔페,126.93,37.49,88292576.82,43319,관악구,신림동
1,201709,491680110,옛골토성,뷔페,고기 뷔페,126.95,37.66,25218858.16,63645,은평구,진관동
2,201708,4540650109,정든생삼겹살,뷔페,고기 뷔페,126.82,37.57,25957122.44,61605,강서구,방화1동
3,201708,42631710113,손가네생오리부페,뷔페,고기 뷔페,126.86,37.49,17709655.91,36938,구로구,개봉2동
4,201709,70824420108,한방복돼지,뷔페,고기 뷔페,127.13,37.53,24859801.35,58224,강동구,성내3동

In [59]:
from keras.preprocessing.text import Tokenizer

df_nlp = pd.DataFrame()
alist = df_nlp1['address1'].unique()
for add in alist : 
    tk = Tokenizer()
    tk.fit_on_texts(df_nlp1[df_nlp1['address1'] == add]['shop_name'])
    
    wordlist = sorted(tk.word_counts.items(), key=lambda x: x[1], reverse=True)[:30]
    df_word = pd.DataFrame(wordlist)
    df_nlp = pd.concat([df_nlp, df_word], axis=1)
    
    print(add, ": ", list(wordlist))
    print("\nvocab words 개수 : ", len(tk.word_index.items()))

관악구 :  [('주', 2193), ('신림점', 2122), ('gs25', 1357), ('씨유', 1058), ('피자스쿨', 831), ('신림역점', 811), ('서울대입구역점', 789), ('봉천점', 777), ('세븐일레븐', 764), ('호치킨', 717), ('맛닭꼬', 665), ('주식회사', 650), ('낙성대점', 646), ('중국성', 626), ('난곡점', 558), ('코리아세븐', 547), ('서울대점', 513), ('59쌀피자', 513), ('호식이두마리치킨', 488), ('cafe', 460), ('cu', 457), ('파리바게뜨', 444), ('소문난순대국', 425), ('이마트24', 400), ('신대방역점', 390), ('관악점', 376), ('사당역점', 374), ('태능숯불갈비', 373), ('보라매점', 370), ('후라이드참잘하는집', 354)]

vocab words 개수 :  6311
은평구 :  [('gs25', 1687), ('주', 1651), ('연신내점', 1422), ('씨유', 987), ('불광점', 727), ('세븐일레븐', 727), ('응암점', 679), ('주식회사', 540), ('골목식당', 520), ('코리아세븐', 520), ('은평뉴타운점', 518), ('카페', 516), ('역촌점', 443), ('은평점', 433), ('구파발역점', 413), ('파리바게뜨', 363), ('충무김밥', 336), ('이디야', 332), ('구산역점', 323), ('cu', 321), ('응암역점', 313), ('갈현점', 311), ('하우돈곱창', 310), ('연신내역점', 309), ('착한정육점', 308), ('구산점', 297), ('연희김밥', 297), ('떡볶이', 296), ('진로마트', 288), ('커피', 288)]

vocab words 개수 :  5335
강서구 :  [('주', 3563), ('gs25', 2342), ('마곡점', 1690), ('씨유', 1362), ('화곡점', 1288), ('주식회사', 1193), ('등촌점', 914), ('발산역점', 896), ('세븐일레븐', 877), ('발산점', 859), ('가양점', 856), ('강서구청점', 804), ('cu', 785), ('코리아세븐', 770), ('방화점', 757), ('낙원떡집', 687), ('마곡나루역점', 645), ('카페', 623), ('전주콩나물국밥', 622), ('마곡나루점', 585), ('파리바게뜨', 551), ('화곡역점', 550), ('까치산역점', 538), ('신앙촌상회', 534), ('이마트24', 533), ('우장산역점', 527), ('백채김치찌개', 523), ('아지트', 473), ('전주식당', 432), ('강서점', 428)]

vocab words 개수 :  7327
구로구 :  [('주', 2105), ('구로점', 1266), ('gs25', 1227), ('구로디지털점', 901), ('신도림점', 893), ('주식회사', 696), ('고척점', 685), ('개봉점', 681), ('씨유', 665), ('cu', 604), ('카페', 558), ('파리바게뜨', 475), ('세븐일레븐', 468), ('코리아세븐', 465), ('생활맥주', 463), ('더카페', 419), ('풍천장어', 405), ('미니스톱', 403), ('개봉역점', 394), ('남원골추어탕', 338), ('이디야', 322), ('오류점', 313), ('구로', 296), ('구로디지털단지점', 295), ('이디야커피', 285), ('구로구청점', 282), ('cafe', 250), ('천왕점', 247), ('엄마손식당', 239), ('전주집', 234)]

vocab words 개수 :  5558
강동구 :  [('주', 2518), ('천호점', 1464), ('gs25', 1405), ('할매순대국', 1292), ('길동점', 944), ('주식회사', 899), ('명일점', 721), ('씨유', 672), ('암사점', 664), ('코리아세븐', 662), ('세븐일레븐', 651), ('cu', 605), ('강동구청점', 569), ('암사역점', 536), ('죠스떡볶이', 518), ('둔촌점', 513), ('강동점', 478), ('카페', 470), ('강동역점', 438), ('고덕역점', 433), ('고덕점', 421), ('명일역점', 382), ('cafe', 378), ('성내점', 377), ('강일점', 352), ('미니스톱', 320), ('이마트24', 301), ('축산사랑', 299), ('천호로데오점', 296), ('박리김밥', 290)]

vocab words 개수 :  5868
중구 :  [('주', 6999), ('주식회사', 2482), ('gs25', 1377), ('명동점', 1282), ('세븐일레븐', 1063), ('카페', 962), ('코리아세븐', 885), ('씨유', 782), ('신당점', 762), ('cu', 640), ('시청점', 577), ('이마트24', 548), ('동대문점', 514), ('충무로점', 513), ('중국관', 496), ('비비큐치킨', 480), ('파리바게뜨', 451), ('티바두마리치킨', 439), ('투썸플레이스', 437), ('약수역점', 435), ('을지로점', 415), ('약수점', 393), ('동국대점', 391), ('커피', 389), ('마포만두', 380), ('크리스피크림', 365), ('커피빈코리아', 321), ('토담', 320), ('명동', 315), ('교동전선생', 298)]

vocab words 개수 :  6362
종로구 :  [('주', 3503), ('페리카나', 1716), ('대학로점', 1522), ('주식회사', 1464), ('둘둘치킨', 1307), ('광화문점', 1070), ('카페', 1003), ('종로점', 879), ('gs25', 745), ('광화문', 669), ('종로김밥', 618), ('북촌손만두', 596), ('더치앤빈', 484), ('커피', 464), ('종각점', 459), ('세븐일레븐', 438), ('이삭', 432), ('씨유', 416), ('종로', 403), ('공차', 398), ('종로구청점', 387), ('짝태앤노가리', 369), ('어사출또', 358), ('더', 331), ('cafe', 288), ('이마트24', 274), ('서촌', 272), ('코리아세븐', 270), ('경복궁역점', 268), ('안국역점', 268)]

vocab words 개수 :  6090
송파구 :  [('주', 7096), ('주식회사', 2652), ('gs25', 2579), ('네네치킨', 2074), ('잠실점', 1616), ('문정점', 1514), ('카페', 1513), ('이삭토스트', 1417), ('유', 1410), ('방이점', 1403), ('코리아세븐', 1366), ('세븐일레븐', 1167), ('씨유', 1150), ('송파점', 1143), ('굽네치킨', 1096), ('cu', 1076), ('유한회사', 985), ('가락점', 962), ('cafe', 878), ('청진동해장국', 876), ('펀비어킹', 872), ('치킨뱅이', 866), ('커피', 844), ('신천점', 797), ('coffee', 688), ('왕십리곱창', 656), ('석촌호수점', 613), ('김밥', 598), ('이마트24', 550), ('파리바게뜨', 536)]

vocab words 개수 :  9552
서초구 :  [('주', 8692), ('주식회사', 3113), ('서초점', 1848), ('gs25', 1787), ('명동칼국수', 1514), ('교대점', 1405), ('양재점', 1335), ('코리아세븐', 1266), ('방배점', 1149), ('카페', 1050), ('씨유', 979), ('cafe', 952), ('세븐일레븐', 853), ('강남역점', 821), ('커피나무', 786), ('교대역점', 761), ('강남점', 750), ('남부터미널점', 686), ('골목집', 662), ('coffee', 635), ('반포점', 634), ('양평해장국', 627), ('커피', 621), ('이마트24', 618), ('방배역점', 583), ('파리바게뜨', 574), ('커피빈코리아', 574), ('잠원점', 541), ('고향식당', 516), ('cu', 496)]

vocab words 개수 :  8066
성북구 :  [('주', 1941), ('성신여대점', 1571), ('gs25', 1443), ('시골밥상', 1110), ('우리식당', 990), ('요거프레소', 772), ('정릉점', 682), ('부어치킨', 676), ('주식회사', 648), ('종암점', 619), ('소담', 600), ('세븐일레븐', 599), ('씨유', 523), ('코리아세븐', 504), ('파리바게뜨', 477), ('오븐마루', 471), ('cu', 452), ('길음뉴타운점', 442), ('북경', 436), ('싱싱오징어바다', 393), ('고대점', 361), ('오징어나라', 357), ('떡사랑', 356), ('cafe', 353), ('한성대점', 350), ('coffee', 341), ('돈암점', 337), ('동덕여대점', 336), ('the', 305), ('길음점', 302)]

vocab words 개수 :  5016
용산구 :  [('주', 4627), ('주식회사', 2018), ('gs25', 973), ('나주곰탕', 720), ('이태원점', 686), ('코리아세븐', 684), ('용산점', 581), ('큰맘할매순대국', 549), ('숙대점', 548), ('토마토김밥', 481), ('치킨주막', 466), ('한남점', 447), ('용산아이파크몰점', 411), ('씨유', 388), ('동부이촌점', 382), ('이마트24', 380), ('세븐일레븐', 376), ('cu', 322), ('카페', 314), ('얌샘김밥', 285), ('만리향', 249), ('연안식당', 238), ('노가리슈퍼', 233), ('서울역점', 226), ('부뚜막', 214), ('보광점', 211), ('이태원', 208), ('이촌점', 206), ('cafe', 201), ('신용산점', 198)]

vocab words 개수 :  5201
금천구 :  [('전주식당', 2945), ('주', 1372), ('gs25', 1257), ('독산점', 932), ('가산점', 917), ('노가리', 746), ('투썸플레이스', 675), ('가산디지털점', 661), ('세븐일레븐', 653), ('주식회사', 620), ('짝태', 617), ('병천순대', 536), ('씨유', 532), ('봉추찜닭', 525), ('금천점', 504), ('카페', 485), ('cu', 475), ('미니스톱', 456), ('피자나라치킨공주', 415), ('명태어장', 364), ('가산디지털단지점', 355), ('시흥점', 345), ('cafe', 302), ('놀부부대찌개', 282), ('이디야', 274), ('종로곱창', 272), ('파리바게뜨', 266), ('우리집', 258), ('독산역점', 251), ('탐앤탐스', 237)]

vocab words 개수 :  4401
강북구 :  [('수유점', 1681), ('이디야커피', 1482), ('옛날통닭', 1209), ('gs25', 1037), ('미아점', 1020), ('주', 941), ('치킨매니아', 712), ('세븐일레븐', 582), ('커피에반하다', 494), ('수유역점', 479), ('씨유', 477), ('주식회사', 437), ('커피', 406), ('한국통닭', 401), ('미아역점', 390), ('번동점', 387), ('코리아세븐', 353), ('또봉이통닭', 336), ('카페', 335), ('치킨', 314), ('떡볶이', 292), ('동대문엽기떡볶이', 286), ('cu', 277), ('장충동한방족발', 274), ('전주집', 272), ('미아사거리역점', 257), ('함흥냉면', 251), ('장어세상', 247), ('감자탕', 246), ('더', 244)]

vocab words 개수 :  4572
동대문구 :  [('주', 1896), ('gs25', 1640), ('장안점', 1103), ('경희대점', 1061), ('시골집', 987), ('코리아세븐', 825), ('세븐일레븐', 725), ('cu', 658), ('씨유', 617), ('주식회사', 483), ('외대점', 475), ('멕시칸치킨', 453), ('전농점', 426), ('답십리점', 389), ('이모네포차', 386), ('청량리점', 355), ('신토불이', 332), ('인정국물떡볶이', 301), ('cafe', 297), ('고향집', 284), ('파리바게뜨', 284), ('시립대점', 246), ('휘경점', 244), ('광주식당', 239), ('원조멸치국수', 234), ('장한평역점', 229), ('치즈밥있슈', 218), ('회기점', 215), ('벌떡', 206), ('꼬꼬스토리', 205)]

vocab words 개수 :  5337
광진구 :  [('김밥천국', 6029), ('주', 2249), ('건대점', 1558), ('gs25', 1231), ('김밥나라', 1018), ('주식회사', 632), ('구의점', 607), ('씨유', 565), ('한솥도시락', 541), ('호치킨하우스', 529), ('세븐일레븐', 475), ('cu', 472), ('중곡점', 453), ('자양점', 444), ('본스치킨', 423), ('손큰할매순대국', 371), ('광장점', 370), ('군자역점', 304), ('이마트24', 302), ('건대스타시티점', 301), ('아지트', 281), ('아차산점', 274), ('코리아세븐', 264), ('구의역점', 254), ('군자점', 251), ('곱창고', 247), ('신불떡볶이', 240), ('미니스톱', 235), ('소담촌', 230), ('옛날통닭', 229)]

vocab words 개수 :  5025
성동구 :  [('주', 2616), ('주식회사', 1436), ('성수점', 1218), ('gs25', 1200), ('한양대점', 1100), ('씨유', 980), ('왕십리점', 823), ('육쌈냉면', 777), ('호남식당', 612), ('이마트24', 574), ('cu', 482), ('행당점', 447), ('코리아세븐', 447), ('성수역점', 446), ('신참떡볶이', 427), ('금호점', 422), ('뚝섬역점', 390), ('왕짜장', 365), ('왕십리역점', 360), ('세븐일레븐', 351), ('카페', 335), ('이모네곱창', 308), ('처갓집양념통닭', 286), ('cafe', 274), ('계동치킨', 274), ('닭한마리', 273), ('파리바게뜨', 271), ('coffee', 268), ('이디야', 236), ('옥수점', 235)]

vocab words 개수 :  4693
마포구 :  [('주', 7791), ('주식회사', 3822), ('홍대점', 2455), ('gs25', 1937), ('투다리', 1932), ('씨유', 1113), ('세븐일레븐', 1084), ('상암점', 1047), ('마포점', 922), ('코리아세븐', 847), ('coffee', 747), ('cu', 707), ('공덕점', 682), ('카페', 677), ('합정점', 638), ('대박집', 581), ('이마트24', 561), ('망원점', 536), ('하루', 514), ('연남점', 492), ('cafe', 476), ('을지로골뱅이', 456), ('커피마마', 449), ('미니스톱', 435), ('풍년식당', 411), ('합정역점', 403), ('the', 403), ('서강대점', 381), ('파리바게뜨', 369), ('서교점', 342)]

vocab words 개수 :  10916

서대문구 :  [('주', 3230), ('신촌점', 2169), ('페리카나치킨', 1285), ('주식회사', 1239), ('gs25', 1048), ('또래오래', 913), ('봉구비어', 907), ('깐부치킨', 711), ('이대점', 674), ('홍제점', 667), ('카페', 624), ('연희점', 593), ('명지대점', 588), ('씨유', 551), ('자매식당', 519), ('가재울점', 453), ('cu', 446), ('세븐일레븐', 440), ('커피', 409), ('코리아세븐', 393), ('소문난집', 390), ('coffee', 388), ('cafe', 376), ('파리바게뜨', 353), ('북가좌점', 333), ('홍제역점', 311), ('서대문역점', 286), ('서대문점', 269), ('이디야', 249), ('남가좌점', 231)]

vocab words 개수 :  5211
양천구 :  [('파리바게뜨', 2661), ('주', 2351), ('목동점', 2120), ('gs25', 1124), ('배스킨라빈스', 1108), ('피자마루', 876), ('비비큐', 708), ('신월점', 656), ('춘천닭갈비', 615), ('코리아세븐', 586), ('봉구스밥버거', 578), ('양천구청점', 569), ('신정점', 542), ('오목교점', 533), ('국수나무', 485), ('주식회사', 472), ('이마트24', 469), ('씨유', 463), ('세븐일레븐', 402), ('cu', 382), ('cafe', 378), ('목동역점', 366), ('명성왕족발', 338), ('자금성', 336), ('우리분식', 327), ('목동', 301), ('서울식당', 265), ('우정식당', 251), ('치킨사냥', 248), ('목동파리공원점', 244)]

vocab words 개수 :  4649
노원구 :  [('주', 1449), ('gs25', 1335), ('노원점', 1215), ('썬더치킨', 987), ('공릉점', 964), ('신전떡볶이', 896), ('쥬씨', 776), ('맥주창고', 709), ('주식회사', 700), ('종로떡집', 659), ('중계점', 655), ('노원역점', 652), ('치킨마루', 652), ('상계점', 607), ('씨유', 602), ('수락산역점', 497), ('세븐일레븐', 495), ('cu', 487), ('코리아세븐', 476), ('파리바게뜨', 469), ('광운대점', 461), ('의정부부대찌개', 410), ('커피베이', 388), ('죽이야기', 387), ('목포홍탁', 384), ('우리마트', 341), ('미니스톱', 317), ('호남식당', 315), ('원할머니보쌈', 310), ('이마트24', 301)]

vocab words 개수 :  4901
중랑구 :  [('남원추어탕', 1910), ('김가네', 1526), ('gs25', 1442), ('주', 992), ('신내점', 710), ('면목점', 682), ('상봉점', 675), ('씨유', 631), ('뚜레쥬르', 621), ('세븐일레븐', 504), ('마산아구찜', 503), ('가츠몽', 483), ('묵동점', 433), ('망우점', 399), ('황금식당', 390), ('코리아세븐', 388), ('cu', 381), ('상봉역점', 367), ('포마토김밥', 347), ('청년다방', 321), ('사가정역점', 317), ('주식회사', 303), ('먹골역점', 289), ('카페', 282), ('봉화산역점', 275), ('왕돈까스', 270), ('왕냉면', 270), ('참이맛감자탕', 264), ('독도쭈꾸미', 255), ('족발야시장', 248)]

vocab words 개수 :  4707
영등포구 :  [('주', 6841), ('여의도점', 2276), ('gs25', 2233), ('이디야', 2197), ('본죽', 1978), ('주식회사', 1845), ('영등포점', 1171), ('씨유', 891), ('엉터리생고기', 877), ('문래점', 831), ('당산점', 702), ('코리아세븐', 698), ('coffee', 669), ('세븐일레븐', 603), ('원당감자탕', 569), ('당산역점', 536), ('파리바게뜨', 486), ('영등포구청점', 477), ('등촌샤브칼국수', 475), ('김밥마을', 475), ('아리스타커피', 475), ('이마트24', 473), ('만리장성', 469), ('신길점', 454), ('서여의도점', 447), ('cu', 446), ('타임스퀘어점', 433), ('경성양꼬치', 430), ('황소곱창', 425), ('카페', 421)]

vocab words 개수 :  7908
동작구 :  [('주', 1928), ('노량진점', 1581), ('gs25', 1265), ('교촌치킨', 1103), ('명동찌개마을', 995), ('노랑통닭', 973), ('상도점', 895), ('중앙대점', 861), ('주식회사', 782), ('세븐일레븐', 647), ('씨유', 615), ('이수점', 604), ('사당점', 585), ('이수역점', 584), ('보드람치킨', 521), ('숭실대점', 517), ('부산어묵', 503), ('노량진농수산물납세조합', 457), ('대방점', 361), ('코리아세븐', 352), ('남성역점', 338), ('보라매점', 330), ('파리바게뜨', 327), ('장승배기역점', 310), ('coffee', 306), ('cu', 298), ('중국식품', 289), ('니뽕내뽕', 275), ('옛날짜장', 267), ('미니스톱', 266)]

vocab words 개수 :  4631
강남구 :  [('주', 17411), ('주식회사', 7799), ('gs25', 4230), ('역삼점', 2322), ('코리아세븐', 2168), ('대치점', 1819), ('카페', 1679), ('강남점', 1578), ('씨유', 1512), ('삼성점', 1511), ('선릉점', 1435), ('압구정점', 1407), ('논현점', 1331), ('커피빈코리아', 1329), ('신의주찹쌀순대', 1278), ('세븐일레븐', 1182), ('cu', 1162), ('강남역점', 1102), ('청담점', 1013), ('파리바게뜨', 1000), ('커피', 991), ('이마트24', 940), ('미니스톱', 863), ('선릉역점', 826), ('더', 769), ('coffee', 752), ('도곡점', 733), ('강남구청역점', 694), ('한솥', 688), ('신사점', 644)]

vocab words 개수 :  13671
도봉구 :  [('창동점', 951), ('주', 802), ('가장맛있는족발', 797), ('종로빈대떡', 751), ('김가네김밥', 702), ('gs25', 678), ('쌍문점', 665), ('세븐일레븐', 579), ('주식회사', 530), ('방학점', 510), ('큰집닭강정', 494), ('미소야', 485), ('cu', 475), ('지호한방삼계탕', 420), ('수유리우동집', 418), ('씨유', 362), ('도봉점', 332), ('쌍문역점', 332), ('마왕족발', 323), ('락궁', 290), ('방학역점', 255), ('그린마트', 240), ('박리분식', 224), ('코리아세븐', 220), ('파리바게뜨', 217), ('채선당', 211), ('창동역점', 208), ('이마트24', 205), ('덕성여대점', 186), ('홈마트', 176)]

vocab words 개수 :  3361
과천시 :  [('bbq', 24), ('치킨앤비어', 24), ('정성한끼', 13)]

vocab words 개수 :  3
광명시 :  [('먹빵', 9)]

vocab words 개수 :  1

In [60]:
cols_list = list(df_nlp.columns)
cnt = 0
for i in range (len(cols_list)) :
    if i%2 == 0 : 
        cols_list[i] = alist[cnt]
        cnt = cnt + 1 
    else : 
        cols_list[i] = str(alist[cnt-1]) + " counts"
df_nlp.columns = cols_list
df_nlp.columns

Index(['관악구', '관악구 counts', '은평구', '은평구 counts', '강서구', '강서구 counts', '구로구',
       '구로구 counts', '강동구', '강동구 counts', '중구', '중구 counts', '종로구',
       '종로구 counts', '송파구', '송파구 counts', '서초구', '서초구 counts', '성북구',
       '성북구 counts', '용산구', '용산구 counts', '금천구', '금천구 counts', '강북구',
       '강북구 counts', '동대문구', '동대문구 counts', '광진구', '광진구 counts', '성동구',
       '성동구 counts', '마포구', '마포구 counts', '서대문구', '서대문구 counts', '양천구',
       '양천구 counts', '노원구', '노원구 counts', '중랑구', '중랑구 counts', '영등포구',
       '영등포구 counts', '동작구', '동작구 counts', '강남구', '강남구 counts', '도봉구',
       '도봉구 counts', '과천시', '과천시 counts', '광명시', '광명시 counts'],
      dtype='object')

In [61]:
df_nlp

,관악구,관악구 counts,은평구,은평구 counts,강서구,강서구 counts,구로구,구로구 counts,강동구,강동구 counts,...,동작구,동작구 counts,강남구,강남구 counts,도봉구,도봉구 counts,과천시,과천시 counts,광명시,광명시 counts
0,주,2193,gs25,1687,주,3563,주,2105,주,2518,...,주,1928,주,17411,창동점,951,bbq,24.00,먹빵,9.00
1,신림점,2122,주,1651,gs25,2342,구로점,1266,천호점,1464,...,노량진점,1581,주식회사,7799,주,802,치킨앤비어,24.00,NaN,NaN
2,gs25,1357,연신내점,1422,마곡점,1690,gs25,1227,gs25,1405,...,gs25,1265,gs25,4230,가장맛있는족발,797,정성한끼,13.00,NaN,NaN
3,씨유,1058,씨유,987,씨유,1362,구로디지털점,901,할매순대국,1292,...,교촌치킨,1103,역삼점,2322,종로빈대떡,751,NaN,NaN,NaN,NaN
4,피자스쿨,831,불광점,727,화곡점,1288,신도림점,893,길동점,944,...,명동찌개마을,995,코리아세븐,2168,김가네김밥,702,NaN,NaN,NaN,NaN
5,신림역점,811,세븐일레븐,727,주식회사,1193,주식회사,696,주식회사,899,...,노랑통닭,973,대치점,1819,gs25,678,NaN,NaN,NaN,NaN
6,서울대입구역점,789,응암점,679,등촌점,914,고척점,685,명일점,721,...,상도점,895,카페,1679,쌍문점,665,NaN,NaN,NaN,NaN
7,봉천점,777,주식회사,540,발산역점,896,개봉점,681,씨유,672,...,중앙대점,861,강남점,1578,세븐일레븐,579,NaN,NaN,NaN,NaN
8,세븐일레븐,764,골목식당,520,세븐일레븐,877,씨유,665,암사점,664,...,주식회사,782,씨유,1512,주식회사,530,NaN,NaN,NaN,NaN
9,호치킨,717,코리아세븐,520,발산점,859,cu,604,코리아세븐,662,...,세븐일레븐,647,삼성점,1511,방학점,510,NaN,NaN,NaN,NaN
10,맛닭꼬,665,은평뉴타운점,518,가양점,856,카페,558,세븐일레븐,651,...,씨유,615,선릉점,1435,큰집닭강정,494,NaN,NaN,NaN,NaN
11,주식회사,650,카페,516,강서구청점,804,파리바게뜨,475,cu,605,...,이수점,604,압구정점,1407,미소야,485,NaN,NaN,NaN,NaN
12,낙성대점,646,역촌점,443,cu,785,세븐일레븐,468,강동구청점,569,...,사당점,585,논현점,1331,cu,475,NaN,NaN,NaN,NaN
13,중국성,626,은평점,433,코리아세븐,770,코리아세븐,465,암사역점,536,...,이수역점,584,커피빈코리아,1329,지호한방삼계탕,420,NaN,NaN,NaN,NaN
14,난곡점,558,구파발역점,413,방화점,757,생활맥주,463,죠스떡볶이,518,...,보드람치킨,521,신의주찹쌀순대,1278,수유리우동집,418,NaN,NaN,NaN,NaN
15,코리아세븐,547,파리바게뜨,363,낙원떡집,687,더카페,419,둔촌점,513,...,숭실대점,517,세븐일레븐,1182,씨유,362,NaN,NaN,NaN,NaN
16,서울대점,513,충무김밥,336,마곡나루역점,645,풍천장어,405,강동점,478,...,부산어묵,503,cu,1162,도봉점,332,NaN,NaN,NaN,NaN
17,59쌀피자,513,이디야,332,카페,623,미니스톱,403,카페,470,...,노량진농수산물납세조합,457,강남역점,1102,쌍문역점,332,NaN,NaN,NaN,NaN
18,호식이두마리치킨,488,구산역점,323,전주콩나물국밥,622,개봉역점,394,강동역점,438,...,대방점,361,청담점,1013,마왕족발,323,NaN,NaN,NaN,NaN
19,cafe,460,cu,321,마곡나루점,585,남원골추어탕,338,고덕역점,433,...,코리아세븐,352,파리바게뜨,1000,락궁,290,NaN,NaN,NaN,NaN
20,cu,457,응암역점,313,파리바게뜨,551,이디야,322,고덕점,421,...,남성역점,338,커피,991,방학역점,255,NaN,NaN,NaN,NaN
21,파리바게뜨,444,갈현점,311,화곡역점,550,오류점,313,명일역점,382,...,보라매점,330,이마트24,940,그린마트,240,NaN,NaN,NaN,NaN
22,소문난순대국,425,하우돈곱창,310,까치산역점,538,구로,296,cafe,378,...,파리바게뜨,327,미니스톱,863,박리분식,224,NaN,NaN,NaN,NaN
23,이마트24,400,연신내역점,309,신앙촌상회,534,구로디지털단지점,295,성내점,377,...,장승배기역점,310,선릉역점,826,코리아세븐,220,NaN,NaN,NaN,NaN
24,신대방역점,390,착한정육점,308,이마트24,533,이디야커피,285,강일점,352,...,coffee,306,더,769,파리바게뜨,217,NaN,NaN,NaN,NaN
25,관악점,376,구산점,297,우장산역점,527,구로구청점,282,미니스톱,320,...,cu,298,coffee,752,채선당,211,NaN,NaN,NaN,NaN
26,사당역점,374,연희김밥,297,백채김치찌개,523,cafe,250,이마트24,301,...,중국식품,289,도곡점,733,창동역점,208,NaN,NaN,NaN,NaN
27,태능숯불갈비,373,떡볶이,296,아지트,473,천왕점,247,축산사랑,299,...,니뽕내뽕,275,강남구청역점,694,이마트24,205,NaN,NaN,NaN,NaN
28,보라매점,370,진로마트,288,전주식당,432,엄마손식당,239,천호로데오점,296,...,옛날짜장,267,한솥,688,덕성여대점,186,NaN,NaN,NaN,NaN
29,후라이드참잘하는집,354,커피,288,강서점,428,전주집,234,박리김밥,290,...,미니스톱,266,신사점,644,홈마트,176,NaN,NaN,NaN,NaN

In [62]:
df_nlp.to_csv('df_shopname.csv',encoding = 'utf-8-sig')